<main class="component-background">
  <section class="login-block">
    <h2 class="white mb-30">Resetting password</h2>
    <p class="mb-30 white">Please write your email for resetting password</p>
    <mat-form-field class="w-80 mb-15">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email"
        required
      />
      @if (email.invalid) {
        <mat-error>{{ emailError }}</mat-error>
      }
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      class="w-50 mb-30"
      [disabled]="this.email.invalid"
      (click)="sendResetMail()"
    >
      ENTER
    </button>
  </section>
</main>
