:host ::ng-deep {
  .mat-drawer-container {
    background-color: rgb(48, 47, 47);
    position: relative;
    overflow: hidden;
  }

  .mat-drawer {
    background-color: rgb(48, 47, 47);
    box-shadow:
      0 0 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 3px 0 rgba(0, 0, 0, 0.22);
  }
}
