<ng-container [formGroup]="paymentForm">
  <app-header class="w-100" [title]="'My payment'"></app-header>

  <section class="mt-30 card-payment">
    <p class="white w-100 mb-20 font-size-20">Wallet account numner</p>
    <p class="white w-100">{{ user.wallet | wallet }}</p>
    <div class="flex align-items-center justify-space-between w-100 mt-100">
      <p class="white">{{ user.balance }}</p>
      <p class="white"><mat-icon>payments</mat-icon></p>
    </div>
  </section>

  <section class="mt-20">
    <p class="white font-size-20 mb-10">Recievers wallet</p>
    <div
      class="reciever-wallet flex align-items-center justify-center border-radius-10"
    >
      <mat-form-field class="w-100">
        <mat-label>Enter reciever wallet</mat-label>
        <input
          matInput
          placeholder="XXXX-XXXX-XXXX-XXX"
          [formControlName]="'wallet'"
          required
        />
      </mat-form-field>
    </div>
  </section>

  <section class="mt-20">
    <p class="white font-size-20 mb-10">Amount</p>
    <div
      class="reciever-wallet flex align-items-center justify-center border-radius-10"
    >
      <mat-form-field class="w-100">
        <mat-label>Enter amount</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          [formControlName]="'amount'"
          required
          type="number"
        />
      </mat-form-field>
    </div>
  </section>

  <section class="mt-20">
    <p class="white font-size-20 mb-10">Comment</p>
    <div
      class="reciever-wallet flex align-items-center justify-center border-radius-10"
    >
      <mat-form-field class="w-100">
        <mat-label>Enter your comment</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          [formControlName]="'comment'"
        />
      </mat-form-field>
    </div>
  </section>

  <button
    mat-flat-button
    color="primary"
    class="pl-50 pr-50 mt-40 font-size-16"
    (click)="submit()"
  >
    Send money
  </button>
</ng-container>
