<main class="component-background">
  <section class="login-block" [formGroup]="resetPasswordForm">
    <h2 class="white mb-30">Resetting password</h2>
    <p class="mb-30 white">Please write your email for resetting password</p>
    <mat-form-field class="w-80 mb-15">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="passwordVisibility ? 'password' : 'text'"
        [formControlName]="'password'"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="passwordVisibility = !passwordVisibility"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="passwordVisibility"
      >
        <mat-icon
          >{{ passwordVisibility ? "visibility_off" : "visibility" }}
        </mat-icon>
      </button>
      @if (password.invalid) {
        <mat-error>{{ passwordError }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-80 mb-15">
      <mat-label>Confirm your password</mat-label>
      <input
        matInput
        [type]="passwordConfirmVisibility ? 'password' : 'text'"
        [formControlName]="'confirmPassword'"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="passwordConfirmVisibility = !passwordConfirmVisibility"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="passwordConfirmVisibility"
      >
        <mat-icon
          >{{ passwordConfirmVisibility ? "visibility_off" : "visibility" }}
        </mat-icon>
      </button>
      @if (confirmPassword.invalid) {
        <mat-error>{{ confirmPasswordError }}</mat-error>
      }
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      class="w-50 mb-30"
      [disabled]="this.confirmPassword.invalid"
      (click)="onResetPassword()"
    >
      ENTER
    </button>
  </section>
</main>
