<main class="component-background">
  <section class="login-block" [formGroup]="loginForm">
    <h2 class="mb-30 white">SIGN IN</h2>

    <mat-form-field class="w-80 mb-15">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControlName]="'email'"
        required
      />
      @if (email.invalid) {
      <mat-error>{{ emailError }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="w-80 mb-15">
      <mat-label>Enter your password</mat-label>
      <input matInput type="password" [formControlName]="'password'" required />
      @if (password.invalid) {
      <mat-error>{{ passwordError }}</mat-error>
      }
    </mat-form-field>
    <p
      class="forget-password mb-20 w-80 cursor-pointer white"
      [routerLink]="['/forget-password']"
    >
      Forget password?
    </p>
    <button
      mat-flat-button
      color="primary"
      class="signIn-button w-50 mb-30"
      (click)="submitForm()"
    >
      ENTER
    </button>
    <p class="cross-line-block mb-30">
      <span class="cross-line-title">Or</span>
    </p>

    <button
      mat-flat-button
      color="primary"
      class="another-login-button"
      [routerLink]="['/registration']"
    >
      Create account
    </button>
  </section>
</main>
