<h2 mat-dialog-title class="white">{{ title }}</h2>
<mat-dialog-content>
  <div class="w-100 flex align-items-center justify-space-between mb-20">
    <mat-form-field class="chat-search w-80">
      <input matInput [formControl]="search" placeholder="wallet" />
    </mat-form-field>
    <button
      mat-mini-fab
      aria-label="search"
      class="bg-lightmain chat-search-button"
    >
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <mat-divider class="w-100 mb-20"></mat-divider>

  <div class="user-list">
    @for (user of users; track user.id) {
      <div
        class="user w-100 flex justify-space-between align-items-center white"
      >
        <p>{{ user.wallet | wallet }}</p>
        <button
          mat-mini-fab
          class="bg-lightmain user-search-button"
          (click)="onCreate(user)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    }
  </div>
</mat-dialog-content>
